@import url('https://fonts.googleapis.com/css2?family=Arsenal&display=swap');
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Arsenal', sans-serif;
}

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    background-color: #f8c3af;
}
/* header start */
.header{
    background-color: #ea9abb;
    display: flex;
    justify-content:flex-end;
    align-items: center;
    height: 85px;
    padding: 5px 10px;
}

.header .logo{
    cursor: pointer;
    margin-right: auto;
    margin-left: 15px;
}

.header .logo img{
    width: 80px; 
    height: 80px;
    transition: all 0.3s;
}
.header .logo img:hover{
    transform: scale(1.2);
}

.header .nav-links{
    list-style: none;
}

.header .nav-links li{
    display: inline-block;
    padding: 0 20px;
}

.header .nav-links li:hover{
    transform: scale(1.2);
}

.header .nav-links a{
    font-size: 20px;
    color: #2b2d42;
    text-decoration: none;
}

.header .nav-links li a:hover{
    color: #f8c3af;
}
/* boton de contacto */
.header .btn button{
    margin-left: 20px;
    font-weight: 700;
    font-size: 20px;
    color: #be8abf;
    padding: 9px 25px;
    background-color: #fea5ad;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
    margin-right: 15px;
}

/* con esto cambiamos el color del buton de contacto al pasar el cursor sobre el boton*/
.header .btn button:hover{
    background-color: #be8abf;
    color: #fea5ad;
    transform: scale(1.1);
}
/* header end */

/* container main START*/

.main{
    display: flex;
    /* con flex direction column hacemos que vaya de arriba hacia abajo
    y con row hacemos que se alinien de izquierda a derecha
    estos dos tienes su lado inverso --reverse-- */
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content:center;
    align-items: center;
}
.main .greeting{
    display: flex;
    flex-direction: column;
    font-size: 40px;
    margin: 40px 0px;
    padding: 30px;
    color: #2b2d42;
    align-items:start;
    width: 90%;
}

.main .description{
    display: flex;
    flex-direction: row ;
    font-size: 20px;
    margin: 15px 0px;
    padding: 40px 0px;
    color: #2b2d42;
    width: 90%;
    height: 80%;
    
}

.main .description .profile-pic img{
    max-width: 350px;
    max-height: auto;
    margin: 15px ;
}

.main .description .description-text{
    text-align: center;
    margin: 15px;
    color: #2b2d42;
}

.main .description .description-text p{
    text-align: justify;
    margin-top: 20px;
}

.main .purpose {
    width: 100%;
    max-width: 1200px;
    margin: 15px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 50px;
    padding: 45px 0px;
    font-size: 20px;
    /* display: flex;
    flex-direction: row;
    font-size: 20px;
    margin: 15px 0px;
    padding: 40px 0px;
    color: #2b2d42;
    width: 90%;
    height: 80%; */
}

.main .purpose .mission {
    text-align: center;
}
.main .purpose .mission p{
    text-align: justify;
    margin-top: 15px;
}

.main .purpose .vision{
    text-align: center;
}

.main .purpose .vision p{
    text-align: justify;
    margin-top: 15px;
}


/* container main END*/

/* footer */
.footer{
    margin-top: auto;
    width: 100%;
    background-color:#be8abf ;
}

.footer .group-1{
    width: 100%;
    max-width: 1200px;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 50px;
    padding: 45px 0px;
}

.footer .group-1 .box figure{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer .group-1 .box figure img{
    width: 120px;
    height: auto;
}

.footer .group-1 .box h2{
    color: #2b2d42;
    margin-bottom: 25px;
    font-size: 20px;
}

.footer .group-1 .box p{
    color: #2b2d42;
    margin-bottom: 10px;
}

.footer .group-1 .socials a{
    display: inline-block;
    text-decoration: none;
    width: 45px;
    height: 45px;
    line-height: 45px;
    color: #2b2d42;
    margin-right: 10px;
    background-color: #f8c3af;
    text-align: center;
    transition: all 300ms ease;
}

.footer .group-1 .socials a:hover{
    color: #be8abf;
}

.footer .group-2{
    background-color: #be8abf;
    padding: 15px 10px;
    text-align: center;
    color: #2b2d42;
}

.footer .group-2 small{
    font-size: 12px;
}
/*  con el @media logramos que al abrir la pagina en una pantalla de un tamaño especifico 
se comporte de una manera diferente y evitamos que se rompa el estilo 
---   RESPONSIVE ----
*/
@media screen and (max-width:800px){

    .main .greeting{
        width: 90%;
        /* grid-template-columns: repeat(1, 1fr); */
        grid-gap: 30px;
        padding: 0px;
        align-items: center;
        font-size: 30px;
    }
    
    .main .greeting h1{
        text-align: center;
    }
    
    .main .description{
        width: 90%;
        flex-direction: column;
        padding: 0px;
        align-items: center;
        justify-content: center;
    }
    
    .main .purpose{
        width: 90%;
        margin: 15px;
        padding: 0px;
        grid-template-columns:auto;
        grid-gap: 30px;
    }
    
    .main .purpose .mission{
        margin: 0px 15px;
    }
    
    .main .purpose .vision{
        margin: 0px 15px;
    }
    
    .footer .group-1{
        width: 90%;
        grid-template-columns: repeat(1, 1fr);
        grid-gap: 10px;
        padding: 0px 0px 30px 0px;
    }

    .footer .group-1 .box{
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }
    
    .footer .group-1 .box h2{
        margin-bottom: 5px;
    }
}
